@media only screen and(min-width: 321px) and(max-device-width: 568px) {
  .container {
    width: 100% !important;
  }
  .sidebar {
    .sidebar-item {
      .info {
        margin-top: 20px;
      }
      .icon {
        margin-top: 20px;
      }
    }
    .skill-line {
      span {
        text-align: left;
        display: block;
      }
      h3 {
        margin-bottom: 50px;
      }
    }
  }
  .section {
    padding: 0 !important;
    text-align: center;
    margin-top: 30px;
    padding: 0 22px;
    h4 {
      margin-bottom: 10px;
    }
    .custom-content-wrapper p {
      padding: 15px;
    }
    .section-wrapper h2 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .interests {
    margin-bottom: 10px;
    ul li {
      padding: 10px 15px;
      margin-right: initial;
    }
  }
}
@media only screen and(max-width: 320px) {
  .container {
    width: 100% !important;
  }
  .sidebar {
    .nav-icon {
      top: 0;
    }
    .button-collapse {
      margin-left: 0;
    }
  }
  .skill-line {
    span {
      text-align: left;
      display: block;
    }
    h3 {
      margin-bottom: 50px;
    }
  }
  .section {
    padding: 0 !important;
    margin-top: 30px;
    padding: 0 22px;
    h4 {
      line-height: 24px;
      margin-bottom: 10px;
    }
    .custom-content-wrapper p {
      padding: 15px;
    }
  }
  .interests {
    margin-top: 20px;
    margin-bottom: 10px;
    ul li .fa {
      text-align: center;
    }
  }
  .sidebar-item .info {
    margin-top: 20px;
  }
}
@media only screen and(min-device-width: 768px) and(max-device-width: 1024px) and(orientation: landscape) {
  .sidebar {
    .icon {
      margin-bottom: 15px;
    }
    .nav-icon {
      top: 0;
    }
  }
  .section {
    text-align: left;
    padding-right: 0 !important;
    padding-left: 24px !important;
    .education-details p {
      margin-top: 5px;
      padding-top: 0;
    }
  }
}
@media only screen and(min-device-width: 768px) and(max-device-width: 1024px) and(orientation: portrait) {
  body {
    text-align: center;
  }
  .container {
    width: 100% !important;
  }
  .sidebar {
    .nav-icon {
      top: 130px;
    }
    .sidebar-item {
      overflow: hidden;
    }
    .icon {
      margin: 30px 0;
    }
    .button-collapse {
      margin-left: 6px;
    }
    .skill-line {
      span {
        text-align: left;
        display: block;
      }
      h3 {
        margin-bottom: 20px;
      }
    }
  }
  .section {
    padding: 0 !important;
    margin-top: 30px;
    padding: 0 22px;
    text-align: center;
    .custom-content-wrapper p {
      margin-top: 5px;
      padding: 0 20px;
    }
  }
  .interests {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
@media only screen and(max-width: 992px) {
  .container {
    width: 100% !important;
    margin-top: 0 !important;
  }
  .row {
    margin-left: -1.5rem !important;
    margin-right: -1.5rem !important;
    overflow-x: hidden !important;
  }
  .sidebar {
    text-align: center;
    .sidebar-item {
      padding: 0 30px;
    }
    .section-item-details {
      padding: 0 20px;
    }
    .icon {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .info {
      padding-left: 15px;
    }
    .skill-line {
      margin-right: 0 !important;
      padding: 20px;
      span {
        text-align: left;
        display: block;
      }
    }
  }
  .section {
    text-align: center;
    margin-top: 30px;
    padding: 0 !important;
    .section-details {
      margin-right: 0;
      h2 {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
    .custom-content-wrapper {
      padding: initial;
      p {
        margin-top: 10px;
        padding: 0 20px;
      }
    }
    .custom-content {
      padding: 0 10px !important;
      margin: 0 30px;
    }
    .blog-post {
      margin: 0 30px;
    }
  }
  .cover-latter {
    text-align: left;
    margin-right: 0;
  }
  .refarances {
    padding: 20px 10px 10px;
  }
  #contact {
    padding: 0 40px;
  }
  #form-submit {
    width: 100%;
  }
  .comment {
    padding: 0 40px !important;
  }
  .comment-form {
    padding: 0 50px !important;
    .btn {
      width: 100%;
    }
    .input-field:last-child {
      padding-left: 0;
    }
  }
  .comment-details {
    padding: 20px;
  }
  .project-description {
    padding: 0 20px;
  }
  .button-collapse i {
    margin-left: 20px;
  }
  .interests ul li .fa {
    text-align: center;
  }
  .post-details p {
    padding: 0 30px;
  }
  .comment-img img {
    width: 100px;
  }
}
@media only screen and(min-device-width: 375px) and(max-device-width: 667px) {
  body {
    text-align: center;
  }
  .sidebar .sidebar-item {
    margin-top: 0;
  }
  .skill-line span {
    text-align: left;
    display: block;
  }
}
