<!-- ========================================
 Education
==========================================-->

<div class="section-wrapper z-depth-1">
  <div class="section-icon col s12 m12 l2">
    <i class="fa fa-graduation-cap"></i>
  </div>
  <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s" >
    <h2>Education </h2>

    <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s" >
      <h3>Computer Science <span>@Warsaw University of Technology</span></h3>
      <span>2009 - 2013</span>
    </div>
  </div>
</div>
