<div class="app container">
  <div class="row">
    <app-left-panel></app-left-panel>
    <section class="col s12 m12 l8 section">
      <div class="row">
        <app-skills-panel></app-skills-panel>
        <app-experiences-panel></app-experiences-panel>
        <app-education-panel></app-education-panel>
        <app-interests-panel></app-interests-panel>
      </div>
    </section>
  </div>
</div>
