
<!-- =========================================
               SIDEBAR
==========================================-->
<!-- Start Sidebar -->
<aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar">
  <!--  Sidebar row -->
  <div class="row">
    <!--  top section   -->
    <div class="heading">
      <!-- ====================
                IMAGE
      ==========================-->
      <div class="feature-img">
        <a href="index.html"><img src="assets/images/my-photo.jpg" class="responsive-img" alt=""></a>
      </div>
      <!-- =========================================
                 NAVIGATION
      ==========================================-->
      <div class="nav-icon">
        <nav>
          <div class="nav-wrapper">
            <ul id="slide-out" class="side-nav">
              <li>
                <div class="userView">
                  <div class="background">
                    <img src="assets/images/p.jpg">
                  </div>
                  <a><img class="circle" src="assets/images/profile-img.jpg"></a>
                  <a><span class="white-text name">Michał Baranowski</span></a>
                  <a><span class="white-text email">miba90@gmail.com</span></a>
                </div>
              </li>

              <!--<li><div class="divider"></div></li>-->

              <!--<li><a class="subheader">Subheader</a></li>-->
              <li><a class="waves-effect"><i class="material-icons">picture_as_pdf</i>Resume</a></li>
              <li><a class="waves-effect"><i class="material-icons">important_devices</i>Projects</a></li>
              <li><a class="waves-effect"><i class="material-icons">text_format</i>Blog</a></li>
              <li><a class="waves-effect"><i class="material-icons">question_answer</i>Contact</a></li>
            </ul>
            <a id="btn-collapse" href="#" data-activates="slide-out" class="button-collapse waves-effect waves-light"><i class="material-icons">menu</i></a>
          </div>
        </nav>
      </div>




      <!-- ========================================
                 NAME AND TAGLINE
      ==========================================-->
      <div class="title col s12 m12 l9 right  wow fadeIn" data-wow-delay="0.1s">
        <h2>Michał Baranowski</h2> <!-- title name -->
        <span>Software Developer</span>  <!-- tagline -->
      </div>
    </div>
    <!-- sidebar info -->
    <div class="col l12 m12 s12 sort-info sidebar-item">
      <div class="row">
        <div class="col m12 s12 l3 icon"> <!-- icon -->
          <i class="fa fa-user fa-2x"></i>
        </div>
        <div class="col m12 s12 l9 info wow fadeIn a1" data-wow-delay="0.1s" > <!-- text -->
          <div class="section-item-details">
            <p>Fully engaged software developer oriented on best practices and self-development</p>
          </div>
        </div>
      </div>
    </div>
    <!-- MOBILE NUMBER -->
    <div class="col l12 m12 s12  mobile sidebar-item">
      <div class="row">
        <div class="col m12 s12 l3 icon">
          <i class="fa fa-phone fa-2x"></i> <!-- icon -->
        </div>
        <div class="col m12 s12 l9 info wow fadeIn a2" data-wow-delay="0.2s" >
          <div class="section-item-details">
            <div class="personal">
              <h4><a href="tel:507-036-990">(+48) 507 036 990</a></h4> <!-- Number -->
              <span>mobile</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  EMAIL -->
    <div class="col l12 m12 s12  email sidebar-item ">
      <div class="row">
        <div class="col m12 s12 l3 icon">
          <i class="fa fa-envelope fa-2x"></i> <!-- icon -->
        </div>
        <div class="col m12 s12 l9 info wow fadeIn a3" data-wow-delay="0.3s">
          <div class="section-item-details">
            <div class="personal">
              <h4><a href="mailto:someone@example.com">miba90@gmail.com</a></h4> <!-- Email -->
              <span>personal</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>   <!-- end row -->
</aside><!-- end sidebar -->
