

<!-- =========================================
   Skills
==========================================-->

<div class="section-wrapper z-depth-1">
  <div class="section-icon col s12 m12 l2">
    <i class="fa fa-star"></i>
  </div>
  <div class="custom-content col s12 m12 l10 wow fadeIn a1">
    <h2>Skills</h2>

    <div class="skill-wrapper">
      <h3>Languages / Frameworks</h3>
      <div class="col s4 m4 l4">
        <ul>
          <li>C#</li>
          <li>.NET</li>
          <li>JavaScript</li>
        </ul>
      </div>
      <div class="col s4 m4 l4">
        <ul>
          <li>TypeScript</li>
          <li>Angular 1/2</li>
          <li>SQL</li>
        </ul>
      </div>
      <div class="col s4 m4 l4">
        <ul>
          <li>English: B2</li>
        </ul>
      </div>
    </div>

    <div class="skill-wrapper">
      <h3>Tools / Concepts</h3>
      <div class="col s4 m4 l4">
        <ul>
          <li>SOLID</li>
          <li>GIT</li>
          <li>Docker</li>
          <li>SPA</li>
        </ul>
      </div>
      <div class="col s4 m4 l4">
        <ul>
          <li>WebSockets</li>
          <li>CSS/HTML</li>
          <li>Bootstrap</li>
          <li>Visual Studio, R#</li>
        </ul>
      </div>
      <div class="col s4 m4 l4">
        <ul>
          <li>OOP</li>
          <li>WebStorm</li>
          <li>RxJS</li>
          <li>REST</li>
        </ul>
      </div>
    </div>

  </div>
</div>
