<!-- =========================================
   Work experiences
==========================================-->

<div class="section-wrapper z-depth-1">
  <div class="section-icon col s12 m12 l2">
    <i class="fa fa-suitcase"></i>
  </div>
  <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s">
    <h2>Work Experience</h2>

    <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
      <h3>Software Developer <span>@Freelance</span></h3>
      <span>06.2016 - new Date()</span>
      <p>Angular2 Developer</p>
    </div>
    <div class="custom-content-wrapper wow fadeIn a2" data-wow-delay="0.2s">
      <h3>Software Developer <span><a href="http://www.enigma.com.pl">@Enigma SOI</a></span></h3>
      <span>07.2014 - 03.2016</span>
      <p>.NET and AngularJS Developer</p>
    </div>
    <div class="custom-content-wrapper wow fadeIn a3" data-wow-delay="0.3s">
      <h3>Junior Software Developer <span><a href="http://www.enigma.com.pl">@Enigma SOI</a></span></h3>
      <span>04.2014 - 07.2014</span>
      <p>.NET Developer</p>
    </div>
  </div>
</div>
