@import "styles-vars.scss";

//colors
$white: #ffffff;
$color_gray_nurse_approx: #eae8e7;
$color_tapa_approx: #767270;
$color_silver_approx: #bdbdbd;
$red: red;

//fonts
$font_0: roboto;
$font_1: sans-serif;

/*------------------------------------------------------------------

[Master Stylesheet]
Project:	    Matarial CV/Resume Template
Version:	    1.0
Last change:	06/02/16
Primary use:	CV/Resume, Portfolio, Perosnal Website

-------------------------------------------------------------------*/
/*
|----------------------------------------------------------------------------
| CSS INDEX
|----------------------------------------------------------------------------
    1. STYLESHEET
        1-1. CUSTOM
        1-2. TYPOGRAPHY
        1.3. BODY
    2. SIDEBAR
    3. SECTIONS CUSTOM STYLE
    4. WORK EXPERIENCE
    5. INTEREST
    6. WEBSITE
    7. BLOG
    8. COVER LATTER
    9. CONTACT
    10. PORTFOLIO

------------------------------------------------------------------*/
/*------------------------------------------------------------------
[ Color codes ]
    main-color:         #5da4d9;
    Blue:               #71DD75 (Blue)    [ This is the main color in Template ]
    white:              #FFFFFF (White)     [  ]
    body-bg-color:      #eae8e7            [ body bg color ]
    font-color:         #767270             [ font color  ]
    border-color:       #4783c2;

------------------------------------------------------------------ */

* {
  font-family: $font_0, $font_1;
}

.fix {
  overflow: hidden;
}

p {
  font-family: $font_0, $font_1;
  font-weight: 300;
  font-size: 10pt;
  line-height: 17pt;
}

a {
  color: $white;
}

.clear {
  clear: both;
}

/* style for wow animation*/

.a1 {
  visibility: visible;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.a2 {
  visibility: visible;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.a3 {
  visibility: visible;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.a4 {
  visibility: visible;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.a5 {
  visibility: visible;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}

/* style for Typography */

h2, h3 {
  font-family: $font_0, $font_1;
  font-weight: 500;
}

h2 {
  font-size: 22pt;
  line-height: 37pt;
  margin: 0px;
}

h3 {
  font-size: 14pt;
  line-height: 24pt;
}

h4 {
  font-size: 12pt;
  line-height: 20pt;
  opacity: 1;
}

h5 {
  font-size: 10pt;
  margin: 0px;
  padding: 0px;
  line-height: 15pt;
}

.fa {
  font-size: 22px;
}

/* style for

***** body  *****

*/

@media only screen and (min-width: 0px) and (max-width: 992px) {
  .row .col.m12 {
    text-align: center;
  }
}

@media only screen and (min-width: 993px) {
  .section {
    padding-left: 32px !important;
  }
}

body {
  background-color: $color_gray_nurse_approx;
  color: $color_tapa_approx;
  text-align: center;
}

.container {
  margin-top: 24px;
  width: 970px;
  max-width: none !important;
  &.app {

  }
}

/* style for

***** Sidebar  *****

*/

.sidebar {
  text-align: left;
  color: $white;
  background-color: $color_shakespeare_approx;
  overflow: hidden;
  display: block;
  .heading {
    position: relative;
    .feature-img {
      position: relative;
      img {
        width: 100%;
      }
    }
    .button-collapse {
      display: block !important;
    }
    .nav-icon {
      position: absolute;
      top: 0;
      padding: 0 16px;
    }
    nav {
      background-color: initial;
      box-shadow: initial;
      .button-collapse i {
        height: 30px;
        font-size: 18pt;
        line-height: 24pt;
        background-color: $color_shakespeare_approx;
        margin-top: 20px;
        padding: 0px 6px;
      }
      .side-nav {
        h3 {
          color: $color_shakespeare_approx;
          padding: 0 15px;
        }
        li {
          a:hover {
            color: $color_shakespeare_approx;
          }
          &:hover {
            background-color: transparent !important;
          }
        }
      }
    }
    .title {
      position: absolute;
      right: 11px;
      bottom: 46px;
      span {
        margin-top: -5px;
        font-size: 10pt;
        margin: 0px;
        padding: 0px;
        line-height: 15pt;
      }
    }
  }
  .icon {
    margin-top: 8px;
    .fa {
      display: inherit;
      text-align: center;
    }
  }
  .sidebar-item {
    overflow: hidden;
    margin-top: 10px;
    &:first-child {
      margin-top: 30px;
    }
  }
  .section-item-details {
    padding-right: 26px;
    margin-bottom: 30px;
    p {
      margin: 0px;
    }
  }
  .info {
    border-bottom: 1px solid $color_steel_blue_approx;
    padding-left: 0px;
    span {
      opacity: 0.7;
      font-weight: 300;
    }
  }
  .personal {
    margin-bottom: 20px;
    h4 {
      margin: 0px;
    }
  }
  .work h4 {
    margin-bottom: 0px;
  }
  .address-details h4 {
    margin-top: 0px;
    span {
      font-size: 10pt;
    }
  }
  .skill-line {
    padding-right: 30px;
    padding-left: 0px;
    .progress {
      background-color: $color_steel_blue_approx;
      height: 2px;
      overflow: visible;
    }
    .determinate {
      background-color: $white;
      .fa {
        font-size: 12px;
        position: absolute;
        top: -5px;
        right: 0px;
        margin-left: 50%;
      }
    }
    h3 {
      margin-top: 0px;
      margin-bottom: 20px;
    }
    span {
      opacity: initial;
    }
  }
}

/* style for

***** Sections *****

*/

#section {
  overflow: hidden;
}

.section {
  text-align: left;
  .fa {
    text-align: center;
    display: block;
    font-size: 30pt;
  }
  .section-wrapper {
    background-color: $white;
    overflow: hidden;
    margin-bottom: 24px;
    padding-bottom: 24px !important;
    .section-icon {
      margin-top: 40px;
    }
    h2 {
      margin-top: 30px;
      margin-bottom: 25px;
    }
  }
}

/* style for

***** Work Experience  *****

*/

.custom-content {
  padding-right: 0px !important;
}

.custom-content-wrapper {
  padding-right: 30px;
  margin-bottom: 25px;
  border-bottom: 1px solid $color_silver_approx;
  &:last-child {
    border-bottom: initial;
  }
  h3 {
    margin: 0px;
    font-size: 12pt;
    line-height: 20pt;
    span {
      color: $color_tapa_approx;
    }
  }
  span {
    color: $color_shakespeare_approx;
    margin-top: 0px;
    font-size: 10pt;
    line-height: 15pt;
  }
  p {
    margin-top: 0px;
    margin-bottom: 25px;
  }
}

.skill-wrapper {
  @extend .custom-content-wrapper;
  height: 9em;
  ul {
  }
}

/* style for

*****  Interests  *****

*/

.interests ul {
  padding-left: 0px;
  li {
    list-style-type: none;
    display: inline-block;
    width: 19%;
    .fa {
      color: $color_shakespeare_approx;
      text-align: left;
    }
  }
}

/* ***** Contact  *****
*
*/

.section .g-map {
  padding-bottom: 0px !important;
  #map {
    width: 100%;
    height: 350px;
  }
}

input {
  &[type=text]:focus:not([readonly]), &[type=password]:focus:not([readonly]), &[type=email]:focus:not([readonly]), &[type=url]:focus:not([readonly]), &[type=time]:focus:not([readonly]), &[type=date]:focus:not([readonly]), &[type=datetime-local]:focus:not([readonly]), &[type=tel]:focus:not([readonly]), &[type=number]:focus:not([readonly]), &[type=search]:focus:not([readonly]) {
    border-bottom: 1px solid $color_shakespeare_approx;
  }
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $color_shakespeare_approx;
}

input {
  &[type=text]:focus:not([readonly]) + label, &[type=password]:focus:not([readonly]) + label, &[type=email]:focus:not([readonly]) + label, &[type=url]:focus:not([readonly]) + label, &[type=time]:focus:not([readonly]) + label, &[type=date]:focus:not([readonly]) + label, &[type=datetime-local]:focus:not([readonly]) + label, &[type=tel]:focus:not([readonly]) + label, &[type=number]:focus:not([readonly]) + label, &[type=search]:focus:not([readonly]) + label {
    color: $color_shakespeare_approx;
  }
}

textarea.materialize-textarea:focus:not([readonly]) + label {
  color: $color_shakespeare_approx;
}

.waves-me:focus {
  background-color: $color_shakespeare_approx;
  color: #fff;
}

.btn {
  margin-left: 10px;
  background-color: $color_shakespeare_approx;
  &:hover, &:focus {
    background-color: $color_shakespeare_approx;
  }
}

.email-success, .email-failed {
  display: none;
  text-align: left !important;
  margin: 0 0 0 0 !important;
}

.btn.disabled {
  background-color: $color_shakespeare_approx;
  color: #fff;
  cursor: default;
  &:focus, &:hover {
    background-color: $color_shakespeare_approx;
    color: #fff;
    cursor: default;
  }
}

#msgSubmit {
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.text-danger {
  color: $red;
}

.text-success {
  color: $color_shakespeare_approx;
}
