<!-- ========================================
      Intertests
==========================================-->

<div class="section-wrapper z-depth-1">
  <div class="section-icon col s12 m12 l2">
    <i class="fa fa-plane"></i>
  </div>
  <div class="interests col s12 m12 l10 wow fadeIn" data-wow-delay="0.1s">
    <h2>Interests </h2>
    <ul> <!-- interetsr icon start -->
      <li><i class="fa fa-desktop tooltipped" data-position="top" data-delay="50" data-tooltip="Programming"></i></li>
      <li><i class="fa fa-coffee tooltipped" data-position="top" data-delay="50" data-tooltip="Coffee"></i></li>
      <li><i class="fa fa-beer tooltipped" data-position="top" data-delay="50" data-tooltip="Beer"></i></li>
    </ul> <!-- interetsr icon end -->
  </div>
</div>
